<div class="h-screen w-full flex items-center panelform bg-black" style="background-image: url(../../assets/1.jpg)" >
    <div class="flex-1">      
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="max-w-xs mx-auto px-8 pt-6 pb-8 mb-4 form bg-white bg-opacity-75">
            <h1 class="text-4xl text-blue-600 font-bold tracking-wide mb-6">Login</h1>
            <div class="mb-6">
              
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            
              
            </div>
            <div class="mb-6">

              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="*****" formControlName="password">
              </mat-form-field>

            </div>            
            <div class="flex items-center justify-between">
              <button *ngIf="!cargando"  mat-button type="submit" [disabled]="!loginForm.valid"  class="bg-blue-600 text-white">
                Sign In
              </button>
              <button *ngIf="cargando"   mat-button [disabled]="true"  >
                Wait
                <i class="fa fa-spin fa-sync"></i>
              </button>
              <a [routerLink]="['/register']" class="text-sm text-blue-600 font-bold py4">Ir al registro</a>
            </div>
        </form>

    </div>
</div>

