<div class="h-screen w-full flex items-center panelform">
    <div class="flex-1">    
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" class="max-w-xs mx-auto bg-black bg-opacity-50 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-4xl text-white font-bold tracking-wide mb-6">Register</h1>
        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2">
            Name
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="name" formControlName="name">
        </div>
        <div class="mb-4">
          <label class="block text-white text-sm font-bold mb-2">
            Email
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="email" formControlName="email">
        </div>
        <div class="mb-6">
          <label class="block text-white text-sm font-bold mb-2">
            Password
          </label>
          <input class="shadow appearance-none rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="*******" formControlName="password">
          <!-- border border-red-500 -->
          <!-- <p class="text-red-500 text-xs italic">Please choose a password.</p> -->
        </div>
        <div class="mb-6">
            <a [routerLink]="['/login']" class="text-sm font-bold text-yellow-500 hover:text-yellow-800 py-4">Ir al login</a>
        </div>
        <div class="flex items-center justify-between">
          <button *ngIf="!cargando" [ngClass]="{'bg-yellow-700' : !registerForm.valid}" type="submit" [disabled]="!registerForm.valid" class="bg-yellow-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Sign In
          </button>
          <button *ngIf="cargando" [ngClass]="{'bg-yellow-700' : !registerForm.valid}" type="submit" [disabled]="true" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
            Wait
            <i class="fa fa-spin fa-sync"></i>
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-yellow-500 hover:text-yellow-800" href="#">
            Forgot Password?
          </a>
        </div>
      </form>
    </div>
  </div>
  