<ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
    <li class="nav-item">
      <a [routerLink]="['/geolocation']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#">
        Geolocation
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/music-player']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#">
        Music Player
      </a>
    </li> 
    <li class="nav-item">
      <a (click)="logOut()" class="inline-block text-sm font-bold px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Logout</a>
    </li>
  </ul>

