<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <a [routerLink]="['/geolocation']" class="px-3 py-2 flex items-center uppercase font-bold">
    Geolocation
  </a>
  <a [routerLink]="['/music-player']" class="px-3 py-2 flex items-center uppercase font-bold">
    Music Player
  </a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logOut()" >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
